.git
.github
.idea
.vscode

node_modules
**/node_modules

.svelte-kit
**/.svelte-kit

build
**/build
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo

.env
**/.env

*.db
*.db-shm
*.db-wal

coverage
*.log
tmp
tmp/**
